{% extends "non_admin_draftail/modal_base.html" %}
{% load wagtailimages_tags wagtailadmin_tags %}
{% load i18n %}

{% block title %}{% trans "Upload a document" %}{% endblock title %}
{% block form %}
    {% if uploadform %}
        <form class="document-upload" action="
                {% url 'non_admin_draftail:document-upload' %}{% if will_select_format %}?select_format=true{% endif %}"
              method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ uploadform.as_p }}
            <button type="submit">{% trans 'Upload' %}</button>
        </form>
    {% endif %}
{% endblock form %}
