.Draftail-Editor__wrapper .public-DraftEditor-content.public-DraftEditor-content {
  appearance: none;
  background-color: #FFF;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.Draftail-InlineToolbar {
  background: #03686A !important;
  .icon {
    fill: #fff;
    color: #fff;
  }
}

.Draftail-Tooltip {
  background: #fff !important;
  border-radius: 8px !important;
}
