{% load i18n wagtailadmin_tags %}
{% if allow_external_link or allow_email_link or allow_phone_link or allow_anchor_link or current == 'external' or current == 'email' or current == 'phone' or current == 'anchor' %}
    <p class="link-types">
        {% if current == 'external' %}
            <b>{% trans "External link" %}</b>
        {% elif allow_external_link %}
            <a href="{% url 'wagtail_non_admin_draftail:external-link' %}{% querystring p=None parent_page_id=parent_page_id %}">{% trans "External link" %}</a>
        {% endif %}

        {% if current == 'email' %}
            | <b>{% trans "Email link" %}</b>
        {% elif allow_email_link %}
            | <a href="{% url 'wagtail_non_admin_draftail:email-link' %}{% querystring p=None parent_page_id=parent_page_id %}">{% trans "Email link" %}</a>
        {% endif %}

        {% if current == 'phone' %}
            | <b>{% trans "Phone link" %}</b>
        {% elif allow_phone_link %}
            | <a href="{% url 'wagtail_non_admin_draftail:phone-link' %}{% querystring p=None parent_page_id=parent_page_id %}">{% trans "Phone link" %}</a>
        {% endif %}

        {% if current == 'anchor' %}
            | <b>{% trans "Anchor link" %}</b>
        {% elif allow_anchor_link %}
            | <a href="{% url 'wagtail_non_admin_draftail:anchor-link' %}{% querystring p=None parent_page_id=parent_page_id %}">{% trans "Anchor link" %}</a>
        {% endif %}
    </p>
{% endif %}
