{% extends "example/example_base.html" %}
{% load wagtailadmin_tags %}

{% block wagtail_non_admin_draftail_head %}
  {% include "wagtail_non_admin_draftail/draftail_media.html" %}
{% endblock wagtail_non_admin_draftail_head %}

{% block content %}
    {{ user }}
    <form>
        {{ form.media }}
        {{ form }}
    <div hidden="" data-tippy-root="" id="tippy-3" style="z-index: 100; visibility: visible; position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(26px, 54px, 0px);">
    <div class="tippy-box Draftail-Tooltip" data-state="visible" tabindex="-1" data-animation="fade" role="tooltip" data-placement="bottom-start" style="max-width: 100%; transition-duration: 300ms;">
        <div class="tippy-content" data-state="visible" style="transition-duration: 300ms;">
            <div>
                <div class="w-combobox"><label id="downshift-0-label" for="downshift-0-input" class="w-sr-only"></label>
                    <div class="w-combobox__field"><input aria-activedescendant="" aria-autocomplete="list" aria-controls="downshift-0-menu" aria-expanded="false" aria-labelledby="downshift-0-label" autocomplete="off" id="downshift-0-input" role="combobox" type="text" disabled="" value=""></div>
                    <div id="downshift-0-menu" role="listbox" aria-labelledby="downshift-0-label" class="w-combobox__menu">
                        <div class="w-combobox__optgroup">
                            <div role="option" aria-selected="false" id="downshift-0-item-0" class="w-combobox__option w-combobox__option--col1">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-h2 " aria-hidden="true">
                                        <use href="#icon-h2"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Heading 2</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-1" class="w-combobox__option w-combobox__option--col1">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-h3 " aria-hidden="true">
                                        <use href="#icon-h3"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Heading 3</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-2" class="w-combobox__option w-combobox__option--col1">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-h4 " aria-hidden="true">
                                        <use href="#icon-h4"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Heading 4</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-3" class="w-combobox__option w-combobox__option--col1">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-list-ol " aria-hidden="true">
                                        <use href="#icon-list-ol"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Numbered list</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-4" class="w-combobox__option w-combobox__option--col1">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-list-ul " aria-hidden="true">
                                        <use href="#icon-list-ul"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Bulleted list</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-5" class="w-combobox__option w-combobox__option--col2">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-media " aria-hidden="true">
                                        <use href="#icon-media"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Embed</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-6" class="w-combobox__option w-combobox__option--col2">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-link " aria-hidden="true">
                                        <use href="#icon-link"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Link</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-7" class="w-combobox__option w-combobox__option--col2">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-doc-full-inverse " aria-hidden="true">
                                        <use href="#icon-doc-full-inverse"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Document</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-8" class="w-combobox__option w-combobox__option--col2">
                                <div class="w-combobox__option-icon">
                                    <svg class="icon icon-image " aria-hidden="true">
                                        <use href="#icon-image"></use>
                                    </svg>
                                </div>
                                <div class="w-combobox__option-text">Image</div>
                            </div>
                            <div role="option" aria-selected="false" id="downshift-0-item-9" class="w-combobox__option w-combobox__option--col2">
                                <div class="w-combobox__option-icon"><span>―</span></div>
                                <div class="w-combobox__option-text">Horizontal line</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </form>
{% endblock content %}
